<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.femme">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Femme"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".update"></activity>
        <activity android:name=".Search_My_Business" />
        <activity android:name=".Business_Detail_Activity" />
        <activity android:name=".Search_Business_Activity" />
        <activity android:name=".Business_List" />
        <activity android:name=".Categories_1" />
        <activity android:name=".Reg_tutor" />
        <activity android:name=".Reg_Catering" />
        <activity android:name=".Reg_food" />
        <activity android:name=".Reg_Acc_Activity" />
        <activity android:name=".Reg_AccessoryActivity" />
        <activity android:name=".Categories_Registration_Activity" />
        <activity android:name=".Business_register_Activity" />
        <activity android:name=".Categories_user_Activity" />
        <activity android:name=".UserCategoriesActivity" />
        <activity android:name=".ContactActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>